{% extends 'base.html' %}

{% block title %}Pick a Race{% endblock %}

{% block content %}
    <nav class="welcomeNav">
        <h1 class="welcomeText">Hello {{ user.username }}!</h1>
        <ul>
            <li>
                <a href="">Create a Character</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'password_reset' %}">reset password</a>
            </li>
    </nav>
    <div id="createContainer">
        <div class="detailsContainer">
            {% csrf_token %}
            {{form}}
            <br>
            <button type="submit">Next Step</button> 
        </div>
        <div class="scrollContainer">
            <div class="detailsContainer" id="raceContainer">
                <h1 id="raceHeader"></h1>
                <p id="aboutRace"></p>
                <h3 class="titleDescriptor">Ability Score Increase</h3>
                <p id="abilityScore"></p>
                <h3 class="titleDescriptor">Age</h3>
                <p id="age"></p>
                <h3 class="titleDescriptor">Alignment</h3>
                <p id="alignment"></p>
                <h3 class="titleDescriptor">Size</h3>
                <p id="size"></p>
                <h3 class="titleDescriptor">Speed</h3>
                <p id="speed"></p>
                <h3 class="titleDescriptor">Languages</h3>
                <p id="languages"></p>
                <div id="abilitiesContainer">
                </div>
            </div>
        </div>
        <div class="scrollContainer">
            <div class="detailsContainer" id="classContainer">
                <h1 id="classHeader"></h1>
                <p id="aboutClass"></p>
                <h3 class="titleDescriptor">Primary Ability</h3>
                <p id="primaryStat"></p>
                <h3 class="titleDescriptor">Saves</h3>
                <p id="saves"></p>
                <h2 class="subTitleDescriptor">Hit Points</h2>
                <h3 class="titleDescriptor">Hit Dice</h3>
                <p id="hitdice"></p>
                <h3 class="titleDescriptor">Hit Points at 1st Level</h3>
                <p id="hitPointsStart"></p>
                <h3 class="titleDescriptor">Hit Points at Higher Levels</h3>
                <p id="hitPointsHigh"></p>
                <h2 class="subTitleDescriptor">Proficiencies</h2>
                <h3 class="titleDescriptor">Armor</h3>
                <p id="armor"></p>
                <h3 class="titleDescriptor">Weapons</h3>
                <p id="weapons"></p>
                <h3 class="titleDescriptor">Tools</h3>
                <p id="tools"></p>
                <h3 class="titleDescriptor">Saving Throws</h3>
                <p id="savingThrows"></p>
                <h3 class="titleDescriptor">Skills</h3>
                <p id="skills"></p>
                <div id="classAbilitiesContainer">
                </div>
            </div>
        </div>
    </div>

    <!-- {% load static %} -->
    <script src='../../static/js/raceJSON.js'></script>
    <script src='../../static/js/classJSON.js'></script>
    <script src="../../static/js/raceAndClassHandler.js"></script>
{% endblock %}
<!-- 
     {% load static %}
    <script src='../../static/js/raceJSON.js'></script>
    <script src='../../static/js/classJSON.js'></script>
    <script src="../../static/js/raceAndClassHandler.js"></script>
    <script src="../../static/js/linkHandler.js"></script>
{% endblock %} -->