{% extends 'character_base.html' %}

{% block title %}Ability Scores{% endblock %}

{% block content %}
<div id="charBasics">
    <div id="nameHolder">
        <h1>{{ request.session.character.name }}</h1>
    </div>
    <div id="basicInfo">
        <h4 id="realClass">{{ request.session.character.class }}</h4>
        <h5 id="textClass">CLASS</h5>
        <h4 id="realLevel">{{request.session.character.level }}</h4>
        <h5 id="textLevel">LEVEL</h5>
        <h4 id="realPath">{{ request.session.character.classPath }}</h4>
        <h5 id="textPath">Class Path</h5>
        <h4 id="realBackground">{{ request.session.character.background }}</h4>
        <h5 id="textBackground">BACKGROUND</h5>
        <h4 id="realRace">{{ request.session.character.race }}</h4>
        <h5 id="textRace">RACE</h5>
        <h4 id="realAlignment">{{ request.session.character.alignment }}</h4>
        <h5 id="textAlignment">ALIGNMENT</h5>
    </div>
</div>
<div id="abilitiesContainer">
    <div class="ability">
        <div class="abilitySubCont"></div>
        <div class="abilityNameHolder">
            <h5>Strength</h5>
        </div>
        <div class="abilityModHolder">
            <h2>{{ request.session.character.strMod }}</h2>
        </div>
        <div class="abilityScoreHolder">            
            <h4>{{ request.session.character.strength }}</h4>
        </div>
    </div>
    <div class="ability">
        <div class="abilitySubCont">
            <div class="abilityNameHolder">
                <h5>Dexterity</h5>
            </div>
            <div class="abilityModHolder">
                <h2>{{ request.session.character.dexMod }}</h2>
            </div>
            <div class="abilityScoreHolder">
                <h4>{{ request.session.character.dexterity }}</h4>
            </div>
        </div>
    </div>
    <div class="ability">
        <div class="abilitySubCont">
            <div class="abilityNameHolder">
                <h5>Constitution</h5>
            </div>
            <div class="abilityModHolder">
                <h2>{{ request.session.character.conMod }}</h2>
            </div>
            <div class="abilityScoreHolder">
                <h4>{{ request.session.character.constitution }}</h4>
            </div>
        </div>
    </div>
    <div class="ability">
        <div class="abilitySubCont">
            <div class="abilityNameHolder">
                <h5>Intelligence</h5>
            </div>
            <div class="abilityModHolder">
                <h2>{{ request.session.character.intMod }}</h2>
            </div>
            <div class="abilityScoreHolder">
                <h4>{{ request.session.character.intelligence }}</h4>
            </div>
        </div>
    </div>
    <div class="ability">
        <div class="abilitySubCont">
            <div class="abilityNameHolder">
                <h5>Wisdom</h5>
            </div>
            <div class="abilityModHolder">
                <h2>{{ request.session.character.wisMod }}</h2>
            </div>
            <div class="abilityScoreHolder">
                <h4>{{ request.session.character.wisdom }}</h4>
            </div>
        </div>
    </div>
    <div class="ability">
        <div class="abilitySubCont">
            <div class="abilityNameHolder">
                <h5>Charisma</h5>
            </div>
            <div class="abilityModHolder">
                <h2>{{ request.session.character.charMod }}</h2>
            </div>
            <div class="abilityScoreHolder">
                <h4>{{ request.session.character.charisma }}</h4>
            </div>
        </div>
    </div>
</div>
<div id="initAndOtherContainer">
    <div id="proficiencyContainer">
        <div class="squareContainer"></div>   
        <div class="squareTopText">
            <h5>Proficiency</h5>
        </div>    
        <div id="profNum">
            <h2>{{ request.session.character.proficiency }}</h2>
        </div>
        <div class="squareBottomText">   
            <h5>Bonus</h5>
        </div>
    </div>
    <div id="speedContainer">
        <div class="squareContainer"></div>   
        <div class="squareTopText">
            <h5>Walking</h5>
        </div>    
        <div id="speedNum">
            <h2>{{ request.session.character.speed }} ft.</h2>
        </div>
        <div class="squareBottomText">
            <h5>Speed</h5>
        </div>
    </div>
    <div id="initiativeContainer">
        <h5>Initiative</h5>
        <div id="initiativeBackground"></div>
        <div id="initiative">
            <h2>{{ request.session.character.initiative }}</h2>
        </div>
    </div>
    <div id="ac">
        <div id="acBackground"></div>
        <div id="acTopText">
            <h5>Armor</h5>
        </div>
        <div id="acNum">
            <h2>{{ request.session.character.armorClass }}</h2>
        </div>
        <div id="acBottomText">
            <h5>Class</h5>
        </div>
    </div>
</div>

<div id="savingContainer">
    <div id="savingBackgroundContainer"></div>
    <div id=savingThrows>
        <div id="strSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">STR</p><p class="savingNum">{{ request.session.character.strSave }}</p>
        </div>
        <div id="dexSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">DEX</p><p class="savingNum">{{ request.session.character.dexSave }}</p>
        </div>
        <div id="conSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">CON</p><p class="savingNum">{{ request.session.character.conSave }}</p>
        </div>
        <div id="intSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">INT</p><p class="savingNum">{{ request.session.character.intSave }}</p>
        </div>
        <div id="wisSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">WIS</p><p class="savingNum">{{ request.session.character.wisSave }}</p>
        </div>
        <div id="charSaveContainer" class="eachSaveContainer">
            <p class="savingTitle">CHA</p><p class="savingNum">{{ request.session.character.charSave }}</p>
        </div>
    </div>
    <h3 class="boxTitles" id="saveText">Saving Throws</h3>
</div>
<div id="skillContainer">
    <div id="skillBackgroundContainer"></div>
    <div id="skills">
        <div class="skillRows" id="titleRow">
            <p class="skillFirst">PROF</p><p class="skillSecond">MOD</p><p class="skillThird">SKILL</p><p class="skillFourth">BONUS</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">DEX</p><p class="skillThird skillBorder">Acrobatics</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.acrobatics }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">WIS</p><p class="skillThird skillBorder">Animal Handling</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.animalHandling }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">INT</p><p class="skillThird skillBorder">Arcana</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.arcana }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">STR</p><p class="skillThird skillBorder">Athletics</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.athletics }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">CHA</p><p class="skillThird skillBorder">Deception</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.deception }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">INT</p><p class="skillThird skillBorder">History</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.history }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">WIS</p><p class="skillThird skillBorder">Insight</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.insight }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">CHA</p><p class="skillThird skillBorder">Intimidation</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.intimidation }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">INT</p><p class="skillThird skillBorder">Investigation</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.investigation }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">WIS</p><p class="skillThird skillBorder">Medicine</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.medicine }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">INT</p><p class="skillThird skillBorder">Nature</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.nature }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">WIS</p><p class="skillThird skillBorder">Perception</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.perception }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">CHA</p><p class="skillThird skillBorder">Performance</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.performance }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">CHA</p><p class="skillThird skillBorder">Persuasion</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.persuasion }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">INT</p><p class="skillThird skillBorder">Religion</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.religion }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">DEX</p><p class="skillThird skillBorder">Sleight of Hand</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.sleightHand }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">DEX</p><p class="skillThird skillBorder">Stealth</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.stealth }}</p>
        </div>
        <div class="skillRows">
            <p class="skillFirst"></p><p class="skillSecond smAbility">WIS</p><p class="skillThird skillBorder">Survival</p><p class="skillFourth skillBorder skillBonus">{{ request.session.character.survival }}</p>
        </div>
        <h3 class="boxTitles">Skills</h3>
    </div>  
</div>
<div id="hitpointInspirationContainer">
    <div id="inspirationContainer">
        <div id="inspiration"></div>
        <h2>{{ request.session.charcter.inspiration }}</h2>
        <h5>Inspiration</h5>
    </div>
    <div id="hitpointContainer">
        <div id="hitpointBackground"></div>
        <div id="changeHitpointContainer">
            <button class="healthButtons" id="healButton">Heal</button>
            <input id="healthInput" type=number>
            <button class="healthButtons" id="damageButton">Damage</button>
        </div>
        <div id="basicHitpointContainer">
            <h4 id="current">Current</h4>
            <h4 id="max">Max</h4>
            <h4 id="temp">Temp</h4>
            <h3 id="currHit">{{ request.session.character.currHitpoints }}</h3>
            <p class="gray" id="slash">/</p>
            <h3 id="maxHit">{{ request.session.character.maxHitpoints }}</h3>
            {% if request.session.character.tempHitpoints == 0 %}
                <h3 class="gray" id="tempHit">--</h3>
            {% else %}
                <h3 class="black" id="tempHit">{{ request.session.character.tempHitpoints }}</h3>
            {% endif %}
            <h4 class="boxTitles" id="hitpoints">Hit Points</h4>
        </div>
    </div>
</div>
<div id="senseContainer">
    <div id="senseBackgroundContainer"></div>
    <div class="passiveContainer">
        <div class="senseBackground"></div>
        <p class="passiveNum">{{ request.session.character.wisMod|add:10 }}</p>
        <p class="passiveWords">Passive wis (perception)</p>
    </div>
    <div class="passiveContainer">
        <div class="senseBackground"></div>
        <p class="passiveNum">{{ request.session.character.intMod|add:10 }}</p>
        <p class="passiveWords">Passive int (investigation)</p>
    </div>
    <div class="passiveContainer">
        <div class="senseBackground"></div>
        <p class="passiveNum">{{ request.session.character.wisMod|add:10 }}</p>
        <p class="passiveWords">Passive wis (insight)</p>
    </div>
    {% if request.session.character.senses != null %}
        <div id="sensesDiv">
            {% for sense in request.session.character.senses %}
                <p>{{ sense }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <p class="boxTitles" id="sensesText">Senses</p>
</div>
<div id="profAndLangContainer">
    <div id="languageBackground"></div>
    <div class="skillBorder" id="armorContainer">
        <h3 class="profTitle">Armor</h3>
        <p class="profsContent">{{ request.session.character.armorProfs }}</p>
    </div>
    <div class="skillBorder" id="weaponContainer">
        <h3 class="profTitle">Weapons</h3>
        <p class="profsContent">{{ request.session.character.weaponProfs }}</p>
    </div>
    <div class="skillBorder" id="toolContainer">
        <h3 class="profTitle">Tools</h3>
        <p class="profsContent">{{ request.session.character.toolProfs }}</p>
    </div>
    <div class="skillBorder" id="languageContainer">
        <h3 class="profTitle">Languages</h3>
        <p class="profsContent">{{ request.session.character.lanuages }}</p>
    </div>
    <p class="boxTitles" id="profAndLangText">Proficiencies & Languages</p>
</div>
<div id="conditionContainer">
    <div id="conditionBackground"></div>
</div>
<div id="generalContentContainer">
    <div id="generalBackground"></div>
</div>

{% endblock %}